@model IEnumerable<DataModelClasses.DataLayer.Product>
@using DataModelClasses.DataLayer;

@{
    ViewBag.Title = "Product";
}

<table class="table table-hover table-responsive">
    <thead>
        <tr class="font-md">
            <th>@ViewBag.Filter</th>
            <th class="text-right"><label id="price">Price</label></th>
            <th class="text-right"><label id="stock">Stock</label></th>
        </tr>
    </thead>
    <tbody id="products">
        @foreach (Product p in Model)
        {
            <tr class="product-row" id="@p.ProductID">
                <td>@p.ProductName (@p.QuantityPerUnit)</td>
                <td class="text-right">@string.Format("{0:c}", p.UnitPrice)</td>
                <td class="text-right">@p.UnitsInStock</td>
            </tr>
        }
    </tbody>
</table>

<div class="font-md">
    <a href="~/Product/Category"><i class="fa fa-list"></i> Product Categories</a>
</div>

<!-- Footer -->
<nav id="nav-footer" class="navbar-default navbar-fixed-bottom">
    <div class="container font-md">
        Sort by: $<span id="minPrice">0</span>
        <a id="down" data-val="-5"><i class="fa fa-chevron-circle-down"></i></a>
        <a id="up" data-val="5"><i class="fa fa-chevron-circle-up"></i></a>
        <div id="modelCountDisplay" class="pull-right">
            0 products
        </div>
    </div>
</nav>

<input type="hidden" id="id" value="@ViewBag.id" />
<input type="hidden" id="str" value="@ViewBag.SearchString" />

@section scripts
{
    <script>
        $(function () {
            showModelCount(@Model.Count())
            $('#up, #down').click(function () {
                var str = "ascending";

                if (this.id = "down") {
                    var str = "decending";
                }

                var id = $('#id').val() ? "/" + $('#id').val() : "";
                var URL = "@Url.Content("~")Product/SortProducts";

                var productArea = document.querySelector("#products");

                $.getJSON(URL)
                    .always(function (data, textStatus, statusObject) {
                        if (statusObject.status == 200) {
                            // 200 OK
                            var template = `
			                        ${data.map(i => `
				                        <tr class="product-row" id="${i.ProductID}">
					                        <td><span id="name_${i.ProductID}">${i.ProductName}</span> (${i.QuantityPerUnit})</td>
					                        <td class="text-right">$<span id="price_${i.ProductID}">${i.UnitPrice}</span></td>
					                        <td class="text-right">${i.UnitsInStock}</td>
				                        </tr>
			                        `).join('')}
		                        `;
                            productArea.innerHTML = template;
                            showModelCount(data.length);
                        } else {
                            // Error
                            console.log("Http response code: " + data.status);
                            console.log("Http response: " + data.statusText);
                        }
                    });
            });

            $('#products').on('click', '.product-row', function () {
                alert(this.id);
            });

            function showModelCount(modelCount) {
                $('#modelCountDisplay').html(modelCount + " products");
            }
        });
    </script>
}