@model IEnumerable<DataModelClasses.DataLayer.Product>
@using DataModelClasses.DataLayer;

@{
    ViewBag.Title = "Product";
}

<table class="table table-hover table-responsive">
    <h1>Order Products</h1>
    <thead>
        <tr class="font-md">
            <th>@ViewBag.Filter</th>
            <th class="text-right"><label id="price">Price</label></th>
            <th class="text-right"><label id="stock">Stock</label></th>
            <th class="text-right"><label id="stock">On Order</label></th>
        </tr>
    </thead>
    <tbody id="products">
        @foreach (Product p in Model)
        {
            <tr class="product-row" id="@p.ProductID">
                <td><span id="name_@p.ProductID">@p.ProductName</span> (@p.QuantityPerUnit)</td>
                <td class="text-right">@string.Format("{0:c}", p.UnitPrice)</td>
                <td class="text-right"><span id="unitsInStock_@p.ProductID">@p.UnitsInStock</span></td>
                <td class="text-right"><span id="onOrder_@p.ProductID">@p.UnitsOnOrder</span></td>
            </tr>
        }
    </tbody>
</table>

<div class="font-md">
    <a href="~/Product/Category"><i class="fa fa-list"></i> Product Categories</a>
</div>

<!-- Footer -->
<nav id="nav-footer" class="navbar-default navbar-fixed-bottom">
    <div class="container font-md">
        Sort by:
        <a id="down" data-val="-5"><i class="fa fa-chevron-circle-down"></i></a>
        <a id="up" data-val="5"><i class="fa fa-chevron-circle-up"></i></a>
        <div id="modelCountDisplay" class="pull-right">
        </div>
    </div>
</nav>

<input type="hidden" id="id" value="@ViewBag.id" />
<input type="hidden" id="str" value="@ViewBag.SearchString" />

<div id="myModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Order more products</h4>
            </div>
            <div class="modal-body">
                <div class="modal-body">
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-xs-5"><strong>Product</strong></div>
                            <div class="col-xs-2"><strong>Stock</strong></div>
                            <div class="col-xs-2"><strong>Ordered</strong></div>
                        </div>
                        <div class="row">
                            <div class="col-xs-5 pad-top"><span id="ProductName"></span></div>
                            <div class="col-xs-2 pad-top"><span id="UnitsInStock"></span></div>
                            <div class="col-xs-2"><input type="number" min="1" value="1" id="Quantity" class="form-control" /></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">
                    Cancel
                </button>
                <button type="button" class="btn btn-primary" id="UpdateOrder">
                    Continue
                </button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>

@section scripts
{
<script>
    $(function () {
        var str = "";
        showModelCount(@Model.Count())

        function showModelCount(modelCount) {
            $('#modelCountDisplay').html(modelCount + " products");
        }

        if (document.cookie.toString() == "role=vendor") {

            $('#up, #down').click(function () {
                str = "ascending";

                if (this.id == "down") {
                    str = "decending";
                }

                var id = $('#id').val() ? "/" + $('#id').val() : "";


                var URL = "@Url.Content("~")Product/SortProducts/" + str;

                var productArea = document.querySelector("#products");

                $.getJSON(URL)
                    .always(function (data, textStatus, statusObject) {
                        if (statusObject.status == 200) {
                            // 200 OK

                            $('#products').html('');
                            for (i = 0; i < data.length; i++) {
                                var str = '';

                                str = jsonStringbuilder(data, i);

                                $('#products').append(str);
                            }

                            showModelCount(data.length);
                        } else {
                            // Error
                            console.log("Http response code: " + data.status);
                            console.log("Http response: " + data.statusText);
                        }
                    });
            });

            $('#products').on('click', '.product-row', function () {

                ProductID = this.id;

                $('#ProductName').html($('#name_' + ProductID).html());
                $('#UnitsInStock').html($('#unitsInStock_' + ProductID).html());
                $('#Quantity').val($('#onOrder_' + ProductID).html());
                // calculate and display total in modal
                $('#Quantity').change();
                // display modal
                $('#myModal').modal();

            });

            function jsonStringbuilder(data, i) {
                var format = "";

                if (data[i].UnitsInStock < 5 || data[i].UnitsInStock < 15 && data[i].UnitsOnOrder < 10) {
                    format = "alert alert-danger";
                } else if (data[i].UnitsInStock > 10) {
                    format = "alert alert-info";
                } else {
                    format = "alert alert-warning";
                }
                var str = "<tr class='product-row " + format + "' id='" + data[i].ProductID + "'>";

                str += "<td><span id='name_" + data[i].ProductID + "'>" + data[i].ProductName + "</span> (" + data[i].QuantityPerUnit + ")</td>";
                str += "<td class='text-right'>" + data[i].UnitPrice.toFixed(2) + "</td>";

                str += "<td class='text-right'><span id='unitsInStock_" + data[i].ProductID + "'>" + data[i].UnitsInStock + "</span></td>";
                str += "<td class='text-right'><span id='onOrder_" + data[i].ProductID + "'>" + data[i].UnitsOnOrder + "</span></td>";
                str += "</tr>";

                return str;
            }

            $('#stock').click(function () {

                if (str == "ascending") {
                    str = "decending";
                } else {
                    str = "ascending";
                }

                var id = $('#id').val() ? "/" + $('#id').val() : "";
                var URL = "@Url.Content("~")Product/SortProducts/" + str;

                var productArea = document.querySelector("#products");

                $.getJSON(URL)
                    .always(function (data, textStatus, statusObject) {
                        if (statusObject.status == 200) {
                            // 200 OK

                            $('#products').html('');
                            for (i = 0; i < data.length; i++) {
                                var str = '';

                                str = jsonStringbuilder(data, i);

                                $('#products').append(str);
                            }

                            showModelCount(data.length);
                        } else {
                            // Error
                            console.log("Http response code: " + data.status);
                            console.log("Http response: " + data.statusText);
                        }
                    });
            });

            

            $('#UpdateOrder').click(function () {
                // hide modal
                $('#myModal').modal('hide');

                var URL = "@Url.Content("~")Product/Order";
                $.post(URL, { ProductID: ProductID, Quantity: $('#Quantity').val() })
                    .always(function (data, textStatus, statusObject) {

                        var id = $('#id').val() ? "/" + $('#id').val() : "";
                        var URL = "@Url.Content("~")Product/SortProducts/" + str;

                        var productArea = document.querySelector("#products");

                        $.getJSON(URL)
                            .always(function (data, textStatus, statusObject) {
                                if (statusObject.status == 200) {
                                    // 200 OK

                                    $('#products').html('');
                                    for (i = 0; i < data.length; i++) {
                                        var str = '';

                                        str = jsonStringbuilder(data, i);

                                        $('#products').append(str);
                                    }

                                    showModelCount(data.length);
                                } else {
                                    // Error
                                    console.log("Http response code: " + data.status);
                                    console.log("Http response: " + data.statusText);
                                }
                            });

                        if (statusObject.status == 200) {

                            console.log($('#name_' + ProductID).html() + ' updated')

                        } else {

                            console.log("Http response code: " + data.status);
                            console.log("Http response: " + data.statusText);
                        }
                    });
            });
        }
    });
</script>
}